<!-- <!DOCTYPE html> -->

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="pdfTemplates/receipt/receipt.css" />
    <title></title>
</head>



<body>

    <div class="row bottom-spacer">
        <div class="column-top-left">
            <%= curDate %>
        </div>
        <div class="column-top-right">Sida
            <%= curPage %> av
                <%= totalPage %>
        </div>
    </div>

    <div class="row">
        <div class="column6 border-top border-bottom border-left">Status</div>
        <div class="column6 border-top border-bottom border-left">Typ</div>
        <div class="column6 border-top border-bottom border-left">Ref.Nummer</div>
        <div class="column6 border-top border-bottom border-left">Användare</div>
        <div class="column6 border-top border-bottom border-left">Startdatum</div>
        <div class="column6 border-top border-bottom border-left border-right">Slutdatum</div>

    </div>
    <% for( let i = 0; i < items.length; i++) { %>
        <div class="row">
            <!-- status -->
            <div class="column6 border-bottom border-left">
                <%= items[i][0] %>
            </div>
            <!-- type -->
            <div class="column6 border-bottom border-left">
                <%= items[i][1] %>
            </div>
            <!-- number -->
            <div class="column6 border-bottom border-left">
                <%= items[i][2] %>
            </div>
            <!-- user -->
            <div class="column6 border-bottom border-left">
                <%= items[i][3] %>
            </div>
            <!-- startDate -->
            <div class="column6 border-bottom border-left">
                <%= items[i][4] %>
            </div>
            <!-- endDate -->
            <div class="column6 border-bottom border-left border-right">
                <%= items[i][5] %>
            </div>
        </div>
        <%} %>
</body>

</html>