<!-- <!DOCTYPE html> -->

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="pdfTemplates/document/document.css" />
    <title></title>
</head>

<body>

    <div class="row bottom-spacer">
        <div class="column-top-left">
            <%= curDate %>
        </div>
        <div class="column-top-right">Sida
            <%= curPage %> av
                <%= totalPage %>
        </div>
    </div>

    <div class="row">
        <div class="column7 border-top border-bottom border-left">Status</div>
        <div class="column7 border-top border-bottom border-left">ID</div>
        <div class="column7 border-top border-bottom border-left">Benämning</div>
        <div class="column7 border-top border-bottom border-left">Typ</div>
        <div class="column7 border-top border-bottom border-left">Avsändare</div>
        <!-- <div class="column9 border-top border-left">Daterat Datum</div> -->
        <!-- <div class="column9 border-top border-left">Inkommet Datum</div> -->
        <!-- <div class="column9 border-top border-left">Ansvarig på Sectra</div> -->
        <div class="column7 border-top border-bottom border-left">Kommentar</div>
        <div class="column7 border-top border-bottom border-left border-right">Förvaras</div>
    </div>
    <% for( let i = 0; i < items.length; i++) { %>
        <div class="row">
            <!-- status -->
            <div class="column7 border-bottom border-left">
                <%= items[i][0] %>
            </div>
            <!-- number -->
            <div class="column7 border-bottom border-left">
                <%= items[i][1] %>
            </div>
            <!-- description -->
            <div class="column7 border-bottom border-left">
                <%= items[i][2] %>
            </div>
            <!-- type -->
            <div class="column7 border-bottom border-left">
                <%= items[i][3] %>
            </div>
            <!-- sender -->
            <div class="column7 border-bottom border-left">
                <%= items[i][4] %>
            </div>
            <!-- comment -->
            <div class="column7 border-bottom border-left">
                <%= items[i][5] %>
            </div>
            <!-- location -->
            <div class="column7 border-bottom border-left border-right">
                <%= items[i][6] %>
            </div>
        </div>
        <%} %>
</body>