<!-- <!DOCTYPE html> -->

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="pdfTemplates/document/document.css" />
    <title></title>
</head>



<body>

    <div class="row bottom-spacer">
        <div class="column-top-left">
            <%= curDate %>
        </div>
        <div class="column-top-right">Sida 1 av 1</div>
    </div>


    <h1 class="">Kvittens hemlig handling</h1>
    <h2 class="">Användarkopia</h2>

    <div class="row">
        <div class="column9 border-top border-left">Reg.Nr</div>
        <div class="column9 border-top border-left">Benämning</div>
        <div class="column18 border-top border-left">Typ</div>
        <div class="column9 border-top border-left">Avsändare</div>
        <div class="column9 border-top border-left">Daterat Datum</div>
        <div class="column9 border-top border-left">Inkommet Datum</div>
        <div class="column9 border-top border-left">Ansvarig på Sectra</div>
        <div class="column7 border-top border-left">Kommentar</div>
        <div class="column9 border-top border-left border-right">Förvaras</div>
    </div>
    <div class="row">
        <div class="column9 border-top border-bottom border-left">
            <%= serNumber %>
        </div>
        <div class="column9 border-top border-bottom border-left">
            <%= info %>
        </div>
        <div class="column18 border-top border-bottom border-left">
            <%= type %>
        </div>
        <div class="column9 border-top border-bottom border-left">
            <%= sender %>
        </div>
        <div class="column9 border-top border-bottom border-left">
            <%= dokDate %>
        </div>
        <div class="column9 border-top border-bottom border-left">
            <%= arrDate %>
        </div>
        <div class="column9 border-top border-bottom border-left">
            <%= receiver %>
        </div>
        <div class="column7 border-top border-bottom border-left">
            <%= comment %>
        </div>
        <div class="column9 border-top border-bottom border-left border-right">
            <%= location %>
        </div>
    </div>


    <div class="row">
        <div class="signing column2">
            <h3 class="enlarge">Mottagare/Användare</h3>
            <div class="enlarge">Signatur/Datum:</div>
            <div class="enlarge">Förtydligande:</div>
        </div>
        <div class="signing column2">
            <h3 class="enlarge">Registrator</h3>
            <div class="enlarge">Signatur/Datum:</div>
            <div class="enlarge">Förtydligande:</div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="signing column2">
            <div class="enlarge2">Återlämning:</div>
            <h3 class="enlarge">Mottagare/Användare</h3>
            <div class="enlarge">Signatur/Datum:</div>
            <div class="enlarge">Förtydligande:</div>
        </div>
        <div class="signing column2">
            <div class="enlarge2">Mottaget:</div>
            <h3 class="enlarge">Registrator</h3>
            <div class="enlarge">Signatur/Datum:</div>
            <div class="enlarge">Förtydligande:</div>
        </div>
    </div>
    <hr>

    <div class="row top-spacer">
        <div class="signing2 column2">
            <div class="enlarge">Egenkontroll utförd
                <input type="checkbox">
            </div>
            <div class="enlarge">Datum:</div>
            <div class="enlarge">Signatur:</div>
        </div>
        <div class="signing2 column2">
            <div class="enlarge">Egenkontroll utförd
                <input type="checkbox">
            </div>
            <div class="enlarge">Datum:</div>
            <div class="enlarge">Signatur:</div>
        </div>
    </div>

    <div class="row top-spacer">
        <div class="signing2 column2">
            <div class="enlarge">Egenkontroll utförd
                <input type="checkbox">
            </div>
            <div class="enlarge">Datum:</div>
            <div class="enlarge">Signatur:</div>
        </div>
        <div class="signing2 column2">
            <div class="enlarge">Egenkontroll utförd
                <input type="checkbox">
            </div>
            <div class="enlarge">Datum:</div>
            <div class="enlarge">Signatur:</div>
        </div>
    </div>

    <div class="row top-spacer">
        <div class="signing2 column2">
            <div class="enlarge">Egenkontroll utförd
                <input type="checkbox">
            </div>
            <div class="enlarge">Datum:</div>
            <div class="enlarge">Signatur:</div>
        </div>
        <div class="signing2 column2">
            <div class="enlarge">Egenkontroll utförd
                <input type="checkbox">
            </div>
            <div class="enlarge">Datum:</div>
            <div class="enlarge">Signatur:</div>
        </div>
    </div>


</body>

</html>